<template>
  <footer>
    <hr />
    &copy; {{ new Date().getFullYear() }} {{ $t('copyright') }}
  </footer>
</template>

<script>
export default {
  i18n: {
    messages: {
      cz: {
        copyright:
          'Taťána Tomšíčková - focení novorozence, dětí, rodiny a těhotných maminek'
      },
      en: {
        copyright:
          'Tatyana Tomsickova - newborns, children, family and bellies photography'
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/scss/_vars'

footer
  text-align: right
  margin: 5% 5px 5%

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid $color2
</style>
