<template>
  <header>
    <div class="logo">
      <img src="@/assets/img/logo.png" alt="logo" />
    </div>
    <nav>
      <ul>
        <li>
          <nuxt-link :to="localePath('index')">
            {{ $t('nav1') }}
          </nuxt-link>
        </li>
        <li>
          <nuxt-link :to="localePath('gallery')">
            {{ $t('nav2') }}
          </nuxt-link>
        </li>
        <li>
          <nuxt-link :to="localePath('about')">
            {{ $t('nav3') }}
          </nuxt-link>
        </li>
        <li>
          <nuxt-link :to="localePath('pricing')">
            {{ $t('nav4') }}
          </nuxt-link>
        </li>
        <li>
          <nuxt-link :to="localePath('contact')">
            {{ $t('nav5') }}
          </nuxt-link>
        </li>
      </ul>
    </nav>
    <lang-switcher />
  </header>
</template>

<script>
import LangSwitcher from '~/components/LangSwitcher'

export default {
  components: {
    LangSwitcher
  },
  i18n: {
    messages: {
      cz: {
        nav1: 'Úvodní',
        nav2: 'Galerie',
        nav3: 'O mně',
        nav4: 'Ceník',
        nav5: 'Kontakt'
      },
      en: {
        nav1: 'Home',
        nav2: 'Gallery',
        nav3: 'About',
        nav4: 'Pricing',
        nav5: 'Contact'
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.logo
  text-align: center
  img
    width: 80%
    margin: 2% 0 0 0

nav
  margin: 2% 0 0 0
  font-family: 'Amatic SC', cursive

  ul
    padding: 0
    margin: 0
    list-style-type: none
    text-align: center

    li
      display: inline-block

      a
        font-size: 2.5em
        padding: 0.25em
        text-transform: lowercase

    span
      font-size: 1.8em
      padding: 0 0.7em
      color: #ddd

#br
  display: none
</style>
