<template>
  <div class="lang">
    <nuxt-link
      :to="switchLocalePath(otherLocale.code)"
      :title="otherLocale.name"
    >
      {{ otherLocale.name }}
      <img :src="require(`~/assets/img/${otherLocale.code}.svg`)" />
    </nuxt-link>
  </div>
</template>

<script>
export default {
  computed: {
    otherLocale() {
      return this.$i18n.locales.find(
        (locale) => locale.code !== this.$i18n.locale
      )
    }
  }
}
</script>

<style lang="sass" scoped>
.lang
  text-align: right

  a
    height: 24px
    display: flex
    align-items: center
    justify-content: flex-end

    img
      height: 13px
      margin-left: 4px
</style>
