<template>
  <div class="page-wrapper">
    <the-header></the-header>
    <the-content></the-content>
    <the-footer></the-footer>
  </div>
</template>

<script>
import TheHeader from '~/components/Header'
import TheContent from '~/components/Content'
import TheFooter from '~/components/Footer'

export default {
  components: {
    TheHeader,
    TheContent,
    TheFooter
  },

  head() {
    return {
      title: 'tomsickova.com',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.$t('description')
        }
      ]
    }
  },

  i18n: {
    messages: {
      cz: {
        description:
          'Dětské a rodinné foceni v interiéru a exteriéru, foceni novorozence, děti a těhotný ženy, rodinné foceni v atelieru, vánoční mini focení, speciální nabídky, vlastní výběr'
      },
      en: {
        description:
          'Children and family interior and exterior photography, newborn and bellies photography, Christmas mini photo session, special offers'
      }
    }
  }
}
</script>
