<template>
  <div class="contact-page">
    <div class="contact-form">
      <form method="POST" action="https://formspree.io/t.tomsickova@seznam.cz">
        <input
          type="email"
          name="_replyto"
          :placeholder="$t('form.emailPlaceholder')"
          required
          :oninvalid="genEmailInvalid"
          oninput="setCustomValidity('')"
        />
        <br />
        <textarea
          name="message"
          rows="5"
          :placeholder="$t('form.messagePlaceholder')"
          :oninvalid="genMessageInvalid"
          required
          oninput="setCustomValidity('')"
        />
        <br />
        <input
          type="hidden"
          name="_subject"
          value="Message from tomsickova.com!"
        />
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_next" value="/thanks" />
        <button type="submit">
          {{ $t('form.send') }}
        </button>
      </form>
    </div>
    <div class="contact-socials">
      <p>
        <i class="fa fa-phone" aria-hidden="true" />
        <b>{{ $t('phone') }}:</b> +420 774 002 703
      </p>
      <p>
        <i class="fa fa-envelope-o" aria-hidden="true" />
        <b>E-mail:</b> t.tomsickova@seznam.cz
      </p>
      <p>
        <a
          href="https://www.facebook.com/tatyanatomsickovaphotography"
          target="_blank"
        >
          <i class="fab fa-facebook-f" aria-hidden="true" />
          <b>Facebook</b>
        </a>
      </p>
      <p>
        <a href="https://500px.com/tracy-t" target="_blank">
          <i class="fab fa-500px" aria-hidden="true" />
          <b>500px</b>
        </a>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: `tomsickova.com | ${
        this.$i18n.locale === 'en' ? 'Contact' : 'Kontakt'
      }`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'My custom description'
        }
      ]
    }
  },
  computed: {
    genEmailInvalid() {
      return `this.setCustomValidity(${this.$t('form.emailInvalid')})`
    },
    genMessageInvalid() {
      return `this.setCustomValidity(${this.$t('form.messageInvalid')})`
    }
  },
  i18n: {
    messages: {
      cz: {
        phone: 'Mobil',
        form: {
          emailPlaceholder: 'Váš e-mail',
          emailInvalid: 'Vyplňte prosím email',
          messagePlaceholder: 'Vaše poptávka',
          messageInvalid: 'Vyplnte prosim zpravu',
          send: 'Odeslat'
        }
      },
      en: {
        phone: 'Phone',
        form: {
          emailPlaceholder: 'Your e-mail',
          emailInvalid: 'Please enter your e-mail',
          messagePlaceholder: 'Your message',
          messageInvalid: 'Please enter your message',
          send: 'Send'
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/scss/_vars'

.contact-socials
  float: right
  width: 40%
  font-size: 1.15em
  i
    min-width: 30px
    text-align: center

.contact-form
  width: 50%
  float: left

  input
    width: 250px
    max-width: 100%

  textarea
    width: 90%
    resize: none

  input, textarea
    font-size: 1em
    border: 1px solid #ddd
    background: white
    padding: 0.9em
    transition: all 0.2s ease-in-out
    margin-bottom: 1.5em

  input:focus,
  textarea:focus
    border-color: $color2
    outline: none
    box-shadow: 0 0 3px 0.5px $color1

  form p
    margin-bottom: 1.5em
    text-indent: 0
    letter-spacing: 0
    font-size: 1em

  button,
  a.button
    font-size: 1em
    text-transform: uppercase
    font-weight: 600
    border: 2px solid $color2
    color: $color1
    background: transparent
    line-height: 1em
    padding: 0.6em 0.9em
    transition: all 0.2s ease-in-out

  button:hover, a.button:hover
    border-color: $color1
    color: $color1

  button:hover.emphasis, a.button:hover.emphasis
    color: white
    background-color: $color1

  a.email
    color: $color1
    font-weight: bold
    text-transform: lowercase
    padding: 2px
    text-decoration: none

    &:hover,
    &:focus
      color: $color1
      border-bottom: 2px solid transparentize($color2, 0.4)
      cursor: pointer
</style>
