<template>
  <div class="gallery-page">
    <h1>gallery</h1>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: `tomsickova.com | ${
        this.$i18n.locale === 'en' ? 'Gallery' : 'Galerie'
      }`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'My custom description'
        }
      ]
    }
  },
  i18n: {
    messages: {
      cz: {},
      en: {}
    }
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/scss/_vars'

.fotorama__wrap
  margin: auto

.album
  max-width: 46%
  margin: 2%
  background-color: rgba(#f1f1f1, 1)
  float: left

  img
    width: 100%
    height: auto

.desc
  font-family: 'Comfortaa', cursive
  font-size: 1.9em
  text-align: center
  text-transform: lowercase
  color: $color1
  padding-bottom: 0.28em

.outline-in
  display: inline-block
  vertical-align: middle
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  -moz-osx-font-smoothing: grayscale
  position: relative

.outline-in:before
  pointer-events: none
  content: ''
  position: absolute
  border: $color2 solid 4px
  top: -8px
  right: -8px
  bottom: -8px
  left: -8px
  opacity: 0
  -webkit-transition-duration: 0.3s
  transition-duration: 0.3s
  -webkit-transition-property: top, right, bottom, left
  transition-property: top, right, bottom, left

.outline-in:hover:before, .outline-in:focus:before, .outline-in:active:before
  top: -0px
  right: -0px
  bottom: -0px
  left: -0px
  opacity: 1
</style>
