<template>
  <div class="home-page">
    <h1 v-text="$t('name')" />
    <p v-text="$t('subtitle')" />
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'tomsickova.com',
      meta: [
        {
          hid: 'description',
          name: 'description',
          // TODO: desc depending on lang
          content:
            'Tatyana Tomsickova | Dětské a rodinné foceni v interiéru a exteriéru, foceni novorozence a těhotný ženy, vánoční mini focení'
        }
      ]
    }
  },
  i18n: {
    messages: {
      cz: {
        name: 'Taťána Tomšíčková',
        subtitle: 'fotografie'
      },
      en: {
        name: 'Tatyana Tomšíčkova',
        subtitle: 'photography'
      }
    }
  }
}
</script>

<style lang="sass" scoped></style>
