<template>
  <div class="pricing-page">
    <h1>pricing</h1>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: `tomsickova.com | ${
        this.$i18n.locale === 'en' ? 'Pricing' : 'Ceník'
      }`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'My custom description'
        }
      ]
    }
  },
  i18n: {
    messages: {
      cz: {},
      en: {}
    }
  }
}
</script>

<style lang="sass" scoped>
@import '~/assets/scss/_vars'

.prices-container
  text-align: center

.pricelist
  max-width: 31%
  height: 100%
  background-color: rgba(#f1f1f1, 1)
  display: inline-block

  img
    width: 100%

  .desc
    font-size: 1.35em

.pricelist-img
  max-width: 42%
  float: right
  margin-bottom: 1%

.package
  width: 50%
  margin-bottom: 1%
  padding: 2%
  border: 1px dashed $color2
  border-left: 3px solid $color2

  .fa
    font-size: 0.9em
</style>
