<template>
  <div class="thanks-page">
    <h2 v-text="$t('title')" />
    <p v-text="$t('subtitle')" />
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: `tomsickova.com | ${
        this.$i18n.locale === 'en' ? 'Thank you' : 'Děkuji vám'
      }`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'My custom description'
        }
      ]
    }
  },
  i18n: {
    messages: {
      cz: {
        title: 'Děkuji vám za vaši zprávu!',
        subtitle: 'Dostanu se k vám co nejdříve.'
      },
      en: {
        title: 'Thank you for your message!',
        subtitle: 'I will get back to you as soon as possible.'
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.thanks-page
  p, h2
    text-align: center
</style>
